
input.form-control {
  border-radius: 10px;
}

button.btn-outline-secondary {
  border-radius: 10px;
}

img.rounded-circle {
  object-fit: cover;
  border: 2px solid #ccc;
}
select#filtro_carrera {
  z-index: 9999;
  position: relative;
}
#btn-filtrar i {
    color: #007bff !important;
}
